<h3>Lista de Carros em manutenção</h3>
<hr>


<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Numero OS</th>
      <th scope="col">Entrada Manutenção</th>
      <th scope="col">Tempo</th>
      <th scope="col">Carro/Ano</th>
      <th scope="col">KM Entrada</th>
      <th scope="col">Prestador</th>
      <th scope="col">Serviços Adicionados</th>
      <th scope="col">Funcionário</th>
      <th scope="col">Previsão 1</th>
      <th scope="col">Previsão 2</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Sit</td>
      <td>Amet</td>
      <td>Amet</td>
       <td>Amet</td>
       <td>Amet</td>
       <td>Amet</td>
       <td>Amet</td>
       <td>Amet</td>
       <td>Amet</td>

      <td>
    efdsilva84
      </td>
      <td>
        <i class="fa-solid fa-trash del"></i>&nbsp;&nbsp;
        <i class="fa-solid fa-pen-to-square edit"></i>&nbsp;&nbsp;
        <i class="fa-solid fa-ban bloque"></i>
      </td>
    </tr>
  </tbody>
</table>
